<!DOCTYPE html>
<html>
<head>
	<title>theraPY</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<body>
<div id="nav1">
	<h1><a href="index.html">theraPY</a></h1>
	<ul>
		<li><a href="index.html">Home</a></li>
		<li id="active"><a href="service.html">Service</a></li>
		<li><a href="contact.html">Contact</a></li>
		<li><a href="about.html">About</a></li>
	</ul>
</div>

<div id="picture">
	<img src="../static/serv.jpg">
	<div id="text">
		<h1> Why theraPY? </h1>
		<br>
		<ul> 
			<li><b>Music Therapy</b> is one of the latest and impactful methodology for treating mental disorders and issues. Our Bodies react to music naturally and recently it's trending again in research for treating neurological patients. One of the method is Guided Imagery and music (GIM) whixh uses images and music together for treating disorders like depression , post traumatic disorders , parkinson's and alzheimer upto some extent!.<br></li><br>
			<li><b>Eyes and Music:</b> Our eyes are one of the most responsive organs of our anatomy. The can state the current state of mind involuntarily. There has been a lot of research conducted in this field and relation of the dilations in the pupil/iris have been deduced in various papers. <br></li><br>
		</ul>
	</div>
</div>
<div id="service-footer">
		<!-- <p>&copy;HINT 2019-AllrightReserved</p> -->
</div>
</body>
</html>